<div class="etapes" >
  <div class="titleSteps">
    <div class="title">
      <h1>Colis groupés</h1>
      <h2>Comment ça marche ?</h2>
    </div>
  </div>
  <div class="first etape" >
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-anchor=".seconde"
      class="step">
      <fa-icon [icon]="step1" size="4x"></fa-icon>
      <h2>Destination</h2>
      <p>
        Choisissez votre trajet en fonction de la destination et de la date.
      </p>
    </div>
    <div  data-aos-anchor=".first" class="numero">
      <div class="cercle">
        <span>ETAPE</span>
        <br>
        <span>01</span>
      </div>
    </div>
  </div>

  <div class="seconde etape">

    <div  data-aos-anchor=".seconde" class="numero">
      <div class="cercle">
        <span>ETAPE</span>
        <br>
        <span>02</span>
      </div>
    </div>

    <div class="step" data-aos-anchor=".third" data-aos="fade-left"
      data-aos-duration="1000">
      <fa-icon [icon]="step2" size="4x"></fa-icon>
      <h2>Commande</h2>
      <p>
        Ajoutez vos palettes et validez en quelques clics.
      </p>
    </div>

  </div>

  <div class="third etape">
    <div class="step" data-aos-anchor=".fourth" data-aos="fade-right"
      data-aos-duration="1000">
      <fa-icon [icon]="step3" size="4x"></fa-icon>
      <h2>Validation</h2>
      <p>
        Un mail de confirmation vous sera envoyé dans les plus brefs délais avec les informations concernant le transport.
      </p>
    </div>

    <div class="numero" data-aos-duration="1000" data-aos-anchor=".third" data-aos="fade-up">
      <div class="cercle">
        <span>ETAPE</span>
        <br>
        <span>03</span>
      </div>
    </div>

  </div>

  <div class="fourth etape">

    <div class="numero" data-aos-duration="1000" data-aos-anchor=".fourth" data-aos="fade-up">
      <div class="cercle">
        <span>ETAPE</span>
        <br>
        <span>04</span>
      </div>
    </div>

    <div class="step" data-aos-anchor=".fifth" data-aos="fade-left"
      data-aos-duration="1000">
      <fa-icon [icon]="step4" size="4x"></fa-icon>
      <h2>Chargement</h2>
      <p>
        Le transporteur viendra récupérez vos marchandises et assurera la livraison dans la journée.
      </p>
    </div>

  </div>

  <div class="fifth etape">
    <div class="step" data-aos-duration="1000" data-aos-anchor=".sixth" data-aos="fade-up"
      data-aos-duration="1000">
      <fa-icon [icon]="step5" size="4x"></fa-icon>
      <h2>Livraison</h2>
      <p>
        Un mail de confirmation vous sera envoyé en temps réel lorsque la livraison sera effectuée.
      </p>
    </div>
    <div class="numero" data-aos-duration="1000" data-aos-anchor=".fifth" data-aos="fade-up">
      <div class="cercle">
        <span>ETAPE</span>
        <br>
        <span>05</span>
      </div>
    </div>
  </div>
</div>
