<div class="homePage">
  <div class="calque">
  <!-- Calque for backgroud opacity, better reading -->
  </div>

  <div class="bg">
    <!-- Calque for backgroud -->
    </div>

  <div class="landing-page">
    <div class="getStarted">
      <h3 style="margin: 0; color: #33cccc; font-weight: bold;">Bienvenue chez</h3>
      <h2 style="text-transform: uppercase;"> Colis Groupés</h2>
      <p class="description">
        En France, la livraison ne cesse de se développer et nous en sommes la preuve. <br>

        Colis Groupés est une start-up innovante qui a choisi de réduire vos coûts en vous proposant des trajets qui vous
        permettront d'économiser jusqu'à 50% sur vos frais de transport.
        <br>
      </p>
      <hr style="opacity:0">
      <a class="btnLister" [routerLink]="['/trajets']" >
        Réserver dès maintenant...
      </a>
    </div>
  </div>


  <div class="wrapper">
    <div class="banner">
    <!-- Separator  entre landing page and contenu -->
    </div>

    <div class="contenu">
      <div style="color:white;position: relative;top: -4.5em;width: 90%;margin: 0 auto;">
        <h1 style="text-transform: uppercase; margin:0">Nous garantissons</h1>
      </div>
      <div class="valeurs">
        <div class="valeur" data-aos="fade-up" data-aos-duration="1000"><img src="../assets/trust.png" alt="Trust/Security" ><p>Sécurité</p></div>
        <div class="valeur" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="150"><img src="../assets/Express.png" alt="Express..."><p>Express</p></div>
        <div class="valeur" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300"><img src="../assets/argent.png" alt="Argent..."><p>Rentabilité</p></div>
        <div class="valeur" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="450"> <img src="../assets/map.png" alt="Suivi"><p>Suivi</p></div>
      </div>

      <app-home-steps></app-home-steps>
      <!-- HERE HTML HOMESTEPS -->

    </div>
    <div class="imageValeur">
      <img src="../assets/valeurs.jpg" alt="Nos valeurs...">
    </div>
    <div class="presentation">
        <h1>Colis Groupés, votre transporteur de marchandises</h1>
        <hr />
        <h2>Le fret routier augmentant chaque année en France, nous avons trouvé le moyen d’allier un transport de colis groupés sur palettes et sans attentes, le tout à des tarifs avantageux.</h2>
        <p>Les <a href="https://www.colis-groupes.com/trajets">trajets</a> étant prédéfinis, vous avez juste à vous inscrire sur celui qui vous intéresse à la date indiquée et remplir le formulaire, le prix s’ajustera automatiquement.</p>

        <h2>Des tarifs compétitifs grâce au groupage de colis</h2>
        <p>Nous vous proposons des trajets vous permettant d’économiser jusqu’à 70% sur vos frais de transport. Les tarifs sont adaptés au poids et au volume de vos marchandises. Nous nous engageons à vous proposer un service de qualité pour un prix réduit.</p>

        <h2>À destination des entreprises et des particuliers</h2>
        <p>Colis Groupés offre ses services pour les entreprises tout en pensant aux particuliers qui souhaitent en profiter. Pour cela, nous avons un bouton de commande personnalisée. Si vous avez besoin d’un <strong>transport de marchandises</strong> groupées, convoyé par des professionnels et sans délai d’attente, nous sommes là pour répondre à vos besoins.</p>

        <h2>Suivi de livraison et garantie sans dommage</h2>
        <p>Nous venons charger les palettes chez l’expéditeur pour ensuite les transporter directement chez le destinataire dans les 24h. Nos véhicules sont équipés pour assurer le maintien et la sécurité du fret. Le transport groupé permet en plus de supprimer les centres de tri, diminuant encore plus le risque d’endommager les marchandises fragiles. Tous les colis sont identifiés, ce qui vous donnera accès au suivi en temps réel de la livraison.</p>
    </div>
  </div>
</div>
<!-- <app-contact></app-contact> -->
